.custom-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}

.custom-font-heading{
    font-size: 100px;
}

.ellipse{
    width: 70px;
    height: 70px;
    border-radius:50%;
    background-color: #54B175;
    text-align: center;
}
