.rating {
    display: inline-block;
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > label {
    font-size: 1rem;
    color: #ccc;
    cursor: pointer;
    float: right; /* Update: Float the labels to the right */
    margin-right: 5px;
    pointer-events: none; /* Make the stars non-clickable */
  }
  
  .rating > input:checked ~ label {
    color: #fdd835;
  }