#uploadfile {
    display: none;
}

.profile-img-container {
    position: relative;
    width: 230px;
    height: 290px;
}

.profile-img-container img:hover {
    opacity: 0.5;
    z-index: 501;
    border-radius: 50%;
    /* width:230px;
      height:230px; */
    /* border:solid black; */

}

.profile-img-container img:hover+i {
    display: block;
    z-index: 500;
    border-radius: 50%;
    /* border:solid black; */
}

.profile-img-container i {
    display: none;
    position: absolute;
    margin-left: 43%;
    margin-top: 40%;
}

.profile-img-container img {
    position: absolute;
    /* border: solid black; */
    border-radius: 50%;

    width: 230px;
    height: 230px;
}

#image-button {
    position: relative;
    top: 250px;
    left: 50px;
    display: none;
}

#image-name {
    position: relative;
    top: 240px;
    left: 50px;
}